<div class="container" >
	<div class="navbar-header" >
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
			<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
		</button>
		
	<!--	<div ng-controller="PutupListCtrl">
		  <a class="navbar-brand" href="#" ui-sref="putup-list">AngularJSExam</a>
	    </div>-->
	
	</div>
	<div class="collapse navbar-collapse" id="js-navbar-collapse">
		<ul class="nav navbar-nav">

			<li class="dropdown">
				<a ui-sref="putup-list" class="dropdown-toggle" data-toggle="dropdown">Home</a>
			</li>
			<li class="dropdown">
				<a ui-sref="putup-list" class="dropdown-toggle" data-toggle="dropdown">PutUp</a>
			</li>

			<!--
			<li class="dropdown">
				<a ui-sref="main" class="dropdown-toggle" data-toggle="dropdown">Home</a>
			</li>
		-->
			<li class="dropdown">
				<a ui-sref="login" class="dropdown-toggle" data-toggle="dropdown">Login</a>
			</li>
			<li class="dropdown">
				<a ui-sref="signup" class="dropdown-toggle" data-toggle="dropdown">Signup</a>
			</li>
		</ul>
		<!-- login/logout -->
	<!--	<div ng-controller="LoginCtrl">
			<ul class="nav navbar-nav navbar-right">
				<li ng-hide="isUserSignedIn()">
					<a href="#" ui-sref="login">Login</a>
				</li>
				<li ng-show="isUserSignedIn()">
					<a href="#" ng-click="logout()">
						[{{getUserId()}}] Logout
					</a>
				</li>
			</ul>
		</div> -->
	</div>
</div>