<div class="jumbotron">
  <h1>Signup</h1>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="user_name">Name:</label>
      <input type="text" class="form-control" ng-model="name" id="user_name">
    </div>
    <div class="form-group">
      <label for="user_age">Age:</label>
      <input type="text" class="form-control" ng-model="age" id="user_age">
    </div>
  </div>
  <div class="col-sm-6">
    <button type="button" class="btn btn-primary" ng-click="saveUserInfo()">회원 가입</button>
  </div>
</div>